<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.withu.dao.AdoptionFormDAO">
    <select id="selectformlistAll" resultType="com.example.withu.dto.AdoptionFromDTO">
        select * from adoptionfrom where sheltername=#{sheltername}
    </select>

    <insert id="insertform" parameterType="com.example.withu.dto.AdoptionFromDTO">
        insert into adoptionfrom(email, protectdogno, sheltername) values (#{email},#{protectdogno},#{sheltername})
    </insert>

</mapper>